// Mixins Here
.header-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    height: 100%;
}

.walkcontainerstyling{
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;  
}

.signupbutton(@bgcolor,@fcolor, @fsize, @bradius){
    display: flex;
    justify-content: center;
    align-items: center;
    background: @bgcolor;
    border-radius: @bradius;
    color: @fcolor;
    font-size: @fsize;
    width: 35%;
    height: 30px;
    &:hover {
        background-color: lighten(black, 100%);
        color: darken(white, 100%);
      }
}